body {
	width: 90%;
	margin: auto;
}

#wrapper {
	margin-top: 10%;
	padding: 3%;
	background: rgba(40, 140, 150, 0.7);
	border-radius: 7px;
}

p {
	text-align: justify;
	font-size: 1em;
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-webkit-column-gap: 3em;
	-moz-column-gap: 3em;
	column-gap: 3em;
	-webkit-column-rule: 1px dotted;
	-moz-column-rule: 1px dotted;
	column-rule: 1px dotted;
	-webkit-column-width: 225px;
	-moz-column-width: 225px;
	column-width: 225px;
}